#root {
  color: black;
}

.page-heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 2.5rem;
}

.tv-image {
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.tv-image:hover {
  transform: translateY(-8px);
}

.episodes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.episode-card {
  width: 250px;
}

.episode-content {
  position: absolute;
}

.footer-link {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 2rem;
}

.footer-link:hover {
  color: blue;
}

#search-container {
  display: flex;
  align-items: center;
}

#search-field {
  border-radius: 25px 0px 0px 25px;
  padding: 0.45rem;
  border-color: #fed700;
  outline: none;
}

#btn-get-episode {
  background-color: #fed700;
  padding: 0.5rem;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
}

#episode-menu {
  position: absolute;
  background-color: white;
  cursor: pointer;
  animation: slideBottomUp 2s ease-in-out;
  padding: 0.5rem;
}

.hide-episode-menu {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.select-tvshow-container {
  padding: 1rem;
}

.shows-hover {
  display: block;
  background-color: #fed700;
  margin-top: 1rem;
  width: 250px;
  padding: 0.4rem;
  cursor: pointer;
}

#shows-menu-container {
  background-color: #888;
  width: 250px;
  padding: 0.4rem;
  animation: slideTopBottom 2s ease-in-out;
  position: absolute;
}

.show-menu-option {
  cursor: pointer;
}

.hide-show-menu {
  display: none;
}

@keyframes slideBottomUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideTopBottom {
  0% {
    opacity: 0;
    transform: translateY(-100);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-30);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
